.the_loop {

	article {
		.border-radius(5px);
		border: 1px solid @grayLighter;
		margin: 0 0 50px 0;
		
		h2.headline {
			font-size: 2em;
			line-height: 1.333em;
			padding: 5px 15px;
			border-bottom: 1px solid @grayLighter;
			margin: 0;
		}
		
		div.the_content {
			padding: 15px 15px;
			border-bottom: 1px solid @grayLighter;
		}
		
		div.the_meta {
			div.infos {
				padding: 5px 15px;
				float: left;
			}
			div.comments {
				padding: 5px 15px;
				border-left: 1px solid @grayLighter;
				float: right;
			}
		}
	}
	
}