#less_css_box #less-textarea {
  width: 99%;
  padding: 10px;
  background: #333;
  color: #fff;
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}
